
<form  ng-controller="MyCtrl as up" name="up.upload_form">
                Single Image with validations
            <input 
                type="file" 
                ngf-select 
                ng-model="up.file" 
                name="file" 
                accept=".csv"
                ngf-max-size="20MB" 
                />
                <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                <button type="submit" ng-click="up.submit()">submit</button>
                <p>{{up.progress}}</p>
            </form>
                <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
                <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
                <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
                <script type="text/javascript" src="main.js"></script>    