<!DOCTYPE html>
<html ng-app="" ng-controller="myCtrl">
<style>
table, th, td {
   border: 1px solid black;
   padding:5px;
}
table {
   border-collapse: collapse;
   margin:10px;
}
</style>
<body>   
		<button class="btn btn-success" ng-click="readCSV()">
				Display CSV as Data Table
				</button>
<div id="divID">
  <table>
    <tr ng-repeat="x in data">
	  <td ng-repeat="y in x">{{ y }}</td>
	  <td>Delete</td>
    </tr>
  </table>
</div>
<div>
<table>
</table>
</div>
<script>

</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>

